body {
  text-align: center;
  font-family: sans-serif;
  background: #f2f2f2;
}

#game {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: auto;
  border: 2px solid black;
  background: url("images/background.png") no-repeat center center;
  background-size: cover;
}

#player {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 500px; 
  height: auto;
}

.boss {
  position: absolute;
  bottom: 0;
  width: 500px;
  height: auto;
}

#boss1 {
  width: 900px;
  top: 22px;
  left: 100px;
}
#boss2 {
  left: 0px;
}

/* remove the glitch where u can drag images */
img {
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;    
  pointer-events: none;
}

#restart {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  display: none;
}

#restart:hover {
  background: #45a049;
}

#progress-container {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 30px;
  height: 250px;
  border: 2px solid #000;
  background: #eee;
  display: flex;
  align-items: flex-end; /* fill from bottom */
}

#progress-bar {
  width: 100%;
  height: 0%; /* height will change dependent on score*/
  background: linear-gradient(to top, #c42c2c, #ffffff, rgb(30, 0, 255));
  /*transition: height 0.3s ease;*/
}

.franceometer {
  rotate: 90deg;
  color: white;
  font-size: 30px;
  position: absolute;
  right: -40px;
  top: 70px;
}

#game.win {
  background: url("images/win_screen.png") no-repeat center center;
  background-size: cover;
}
